.option-buttons {
    margin: 10px 0;
}

.option-buttons__container {
    width: 100%;
    margin: 5px 0;
    background-color: #ccc;
    color: #fff;
    border-radius: 16px;
    padding: 3px;
}

.option-buttons__name {
    font-size: 16px;
    font-weight: 600;
}
