.cart-gift {
    margin-top: 20px;
}

.cart-gift__container {
    margin-bottom: 5px 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.cart-gift__image-wrapper {
    padding: 5px;
    margin-right: 20px;
    width: 100px;
}

.cart-gift__content {
    display: flex;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: start;
}

.cart-gift__item-info {
    justify-content: center;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 160px;
    max-width: 400px;
}

.cart-gift__item-name {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.cart-gift__item-description {
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: 500;
    color: grey;
}

.cart-gift__item-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-gift__total-amount {
    margin-left: 20px;
    font-weight: 600;
    white-space: nowrap;
}
